<div class="cuadro">
    <div class="nombre"></div>
    <div class="lineas">
        <div class="linea">
            <div class="img-fondo yind"></div>
        </div>
        <div class="linea">
            <div class="img-fondo xavi"></div>
        </div>
        <div class="linea">
            <div class="img-fondo neo"></div>
        </div>
        <div class="linea">
            <div class="img-fondo jota"></div>
        </div>
        <div class="linea">
            <div class="img-fondo walter"></div>
        </div>
        <div class="linea">
            <div class="img-fondo tutte"></div>
        </div>
        <div class="linea">
            <div class="img-fondo matias"></div>
        </div>
        <div class="linea">
            <div class="img-fondo hit"></div>
        </div>
        <div class="linea">
            <div class="img-fondo rama"></div>
        </div>
    </div>
</div>