<br>
<div class="licencia">
    <div>
        AO-YIND es un MOD de Argentum-Online, también conocido como AO, es un videojuego de rol multijugador masivo en línea libre disponible para los sistemas operativos Microsoft Windows y publicado en el año 1999 en Internet de manera independiente.
    ​</div>
    <div>
        Para conocer la historia de Argentum-Online, pueden acceder a Wikipedia en el siguiente link:  <a href="https://es.wikipedia.org/wiki/Argentum_Online" target="_blank">Argentum-Online en Wikipedia</a>
    </div>
    <div>
        Agradecemos a todo el equipo original de Argentum-Online su liberación ya que sin la liberación original, nada de esto sería posible.
    </div>
    <div>
        Agradecemos a Pablo Marquez, creador de Argentum-Online, pueden seguirlo en sus redes (<a href="https://www.youtube.com/user/arbolloco" target="_blank">Canal de Youtube de Pablo Marquez</a>, <a href="https://www.facebook.com/pablo.marquez" target="_blank">Facebook de Pablo Marquez</a>)
    </div>
    <div>
        El proyecto AO-YIND fue iniciado y creado por Javier Podavini (líder del proyecto), hoy en día, AO-YIND 3 cuenta con un equipo de trabajo diverso, donde se encuentran programadores, diseñadores, indexadores, mapeadores, etc. Agradecemos a Javier Podavini por iniciar el proyecto AO-YIND y todas sus bases.
    </div>
    <div>
        <br> Como cumplimiento por nuestra parte de la LICENCIA GPL, liberamos nuestros proyectos:
    </div>
    <div>
        AO-YIND versión 2: <a href="https://mega.nz/file/wtV3CT7Y#UWaZMlknk3_cd3zYdxOwRif-tKEe8w2HzIKI908iC6g" target="_blank">Descargar código fuente del servidor y cliente de la versión 2 de AO-YIND</a>
    </div>
    <div>
        AO-YIND versión 3, la versión actual que usamos de base: <a href="https://github.com/YindSoft" target="_blank">Descargar código fuente del servidor y cliente de la versión 3 de AO-YIND</a>
    </div>
    <div>
        AO-YIND siempre va a respetar la licencia GPL de Argentum-Online, para cualquier consulta, por favor, comunicarse con info@aoyind.com
    </div>

</div>
