* {
    font-family: 'robotoRegular';
    font-size: 16px;
}


.cuadro{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 20px 1fr;
}

.fila1{
    background-image: url("/assets/img/equipo/noticias.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 160px 60px;
    background-color: #1B1515;
}

.fila2 {
    display: grid;
    grid-template-columns: 0.4fr 1.875rem 1.4fr;
}